run = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["nodejs_20"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 43213804
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001
